body {
    color:#404040;
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin:0;
    padding:0;
    -webkit-font-smoothing:antialiased;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.sidebar {
    position: relative;
    z-index: 99;
    background: white;
    padding: 0px;
    width: 40%;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.pad2 {
    padding:20px;
}

.map {

}

@media screen and (max-width: 800px) {
    .sidebar {
        position: relative;
        z-index: 99;
        background: white;
        padding: 0px;
        width: 100%;
        height: 230px;
        overflow: hidden;
        overflow-y: hidden;
        overflow-y: scroll;
    }
}


h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
}

a {
    color:#404040;
    text-decoration:none;
}

a:hover {
    color:#101010;
}

.heading {
    background:#fff;
    border-bottom:1px solid #eee;
    min-height:60px;
    line-height:60px;
    padding:0 10px;
    background-color: #00853e;
    color: #fff;
}

.listings {
    height:100%;
    overflow:auto;
    padding-bottom:60px;
}

.listings .item {
    display:block;
    border-bottom:1px solid #eee;
    padding:10px;
    text-decoration:none;
}

.listings .item:last-child { border-bottom:none; }
.listings .item .title {
    display:block;
    color:#00853e;
    font-weight:700;
}

.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
    background-color:#f8f8f8;
}


.contact a {
    color: #8cc63f;
}
::-webkit-scrollbar {
    width:3px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
    background:none;
}
::-webkit-scrollbar-thumb {
    background:#00853e;
    border-radius:0;
}

.marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(marker.png);
    background-color: rgba(0, 0, 0, 0);
}

.clearfix { display:block; }
.clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display:none;
}
.mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:180px;
}
.mapboxgl-popup-content-wrapper {
    padding:1%;
}
.mapboxgl-popup-content h3 {
    background:#91c949;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
}

.mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
}

.mapboxgl-popup-content div {
    padding:10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor:pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}


.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    color: #fff;
}

.filter-group input[type='checkbox']:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type='checkbox'] {
    display: none;
}

.filter-group input[type='checkbox'] + label {
    background-color: #3386c0;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox'] + label {
    background-color: #3386c0;
    text-transform: capitalize;
}

.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
    background-color: #4ea0da;
}

.filter-group input[type='checkbox']:checked + label:before {
    content: '✔';
    margin-right: 5px;
}

.marker {
    border: none;
    cursor: pointer;
    height: 69px;
    width: 88px;
    background-image: url(marker.png);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    position: absolute;
    left: 32px;
}

.go-center {
    background: white;
    padding: 10px 20px;
    color: black;
    border-radius: 4px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contact p  {
    white-space: break-spaces;
}

.more-about {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.more-about.open {
    height: 100%;
    overflow: visible;
    transition: all 0.3s;
}

.person-image img {
    height: 80px;
    margin-top: 40px;
}

#myInput {
    height: 38px;
    border: 0;
    padding: 17px;
    width: 50%;
}

.more {
    color: green;
    padding-bottom: 30px;
    cursor: pointer;
}

.more:hover {
    color: green;
}